@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$font-stack: "Montserrat", sans-serif;
$primary-color: #333;
$hover-color: #ff6060;
$footer-bg: #000000;
$footer-color: #fff;