@import "./root.scss";

.slider {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  @media screen and (max-width: 768px){
    height: 255px;
    border-radius: 10px;
  }
  .arrow_left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 79px;
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    color: $white;
    @media screen and (max-width: 768px){
      width: 24px;
      height: 24px;
    }
  }
  .arrow_right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    width: 79px;
    height: 79px;
    color: $white;
    @media screen and (max-width: 768px){
      width: 24px;
      height: 24px;
    }
  }
}